*{
	font-family: Coiny Cyrillic;
}
@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
		margin-top: auto;
	}
	#sidebar{
		width: auto;
		margin-top: auto;
		float: none;
	}
}

body{
	background-color: white;
}

h1{
	color: #1bbd8c;
}
h3{
	color: black;
	font-size: 18px;
	font-family: Repo;
	text-align: center;
}
#h4{
	color: #00bcf2;
	font-size: 16px;
	font-family: Repo;
	margin-top: 5px;
	margin-bottom: 10px;
}
#menu{
	color: #00bcf2;
  margin-top: 4px;

	margin-right: 80px;

  height: 30px;
}
#menu ul {
  float: right;
  list-style: none;
}
#menu ul a{
	color: #00bcf2;
	font-size: 16px;
	font-family: Repo;	
  padding: 0px 25px;
  line-height: 40px;
}

#bt{
	font-size: 18px;
	font-family: Repo;
	color: white;
}
button{
	text-align: center;
	padding: 8px 18px;
	margin-left: 75px;
	margin-right: 70px;
	border-radius: 5px;
	background-color: #c2ed5a;
	border: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
button:hover{
	opacity: 0.8;
}
a{
	color: white;
	font-size: 16px;
	font-family: Repo;
}

.footer{
	font-family: Repo;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #b1e3fa;
	color: blue;
	font-size: 16px;
	opacity: 0.6;
}


/*Login ADMIN*/
#log{
	font-size: 45px;
	margin-left: 87px;
    margin-top: 50px;
    color: #1bbd8c;
}
.box{
    margin-left: 250px;
    margin-top: 160px;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    border-radius: 8px;
    background-color: #b1e3fa;
}
.box label{
	margin-right: 100px;
	font-family: Repo;
    font-size: 18px;
    color: black;
}
input{
	text-align: center;
	font-family: Repo;
    width: calc(100% - 20px);
    padding: 8px 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    border-bottom: 2px solid #4ec9f5;
    color: black;
    font-size: 18px;
}
p{
	font-family: Repo;
    text-align: center;
    color: white;
}
#sub{
	width: 120px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color:#4ec9f5;
    font-family: Repo;
    font-size: 18px;
    color: white;
    cursor: pointer;
    top: 100px;
    right: 50%;
}
#sub:hover{
    opacity: 0.8;
}

/*insert data pembeli*/
.box_insert{
    margin-left: 250px;
    margin-top: 280px;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    border-radius: 8px;
    background-color: #b1e3fa;
}

.box_insert td{
	text-align: left;
	font-family: Repo;
    font-size: 18px;
    color: black;
}

#kanan{
	text-align: center;
	font-size: 45px;
	float: right;
    margin-top: 210px;
    margin-right: -150px;
    color: #1bbd8c;
}

#isi{
	text-align: left;
	margin-left: 25px;
	margin-top: 0px;
}
#h2{
	color: #1bbd8c;
}
#isi_link{
	color: #004aad;
	float: left;
}
.pilih{
	margin: 0 auto;
	margin-top: 80px;
  	width: 750px;
  	margin-bottom: 150px;
}
#tab{
	margin: 0 auto;
	font-size: 30px;	
}
#ikon:hover{
	opacity: 0.8;
}

/*Stok*/
#stok{
	text-align: center;
	color:white;
	font-family: Repo;
    font-size: 16px;
	margin-top: 40px;
	margin: 0 auto;
	background-color: #1bbd8c;
	border-radius: 10px;
	opacity: 0.7;
}
#atas{
	font: Repo;
	color: black;
	background-color: #4ec9f5;
	text-align: center;
}

/*transaksi*/
.box_tran{
    margin-left: 350px;
    margin-top: 250px;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 400px;
    border-radius: 8px;
    background-color: #b1e3fa;
}


.box_tran td{
	text-align: left;
	font-family: Repo;
    font-size: 18px;
    color: black;
}
select{
	text-align: center;
	font-family: Repo;
    font-size: 18px;
	width: 250px;
	margin-bottom: 7px;
	padding: 8px 18px;
	border: 0px;
	border-radius: 5px;
	background-color: white;
    border-bottom: 2px solid #4ec9f5;
}
option{
	font-family: Repo;
    font-size: 18px;
}